.dropdown .dropdown-menu.show {
  transform: none !important;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: unset;
  top: 100%;
  right: 0;
  bottom: unset;
}

.body-loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.has-error .select-input__custom {
  @apply border-red-500;
}

.select-input__custom .react-select__input {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.02);
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px #DDD; */
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.datetime-disable input {
  background-color: #f1f5f9;
  cursor: not-allowed;
  pointer-events: none;
}

.chat-wrapper {
  @apply overflow-hidden pb-0;
  .content {
    height: calc(100vh - 10rem);
    min-height: unset;
    overflow-y: hidden;
    padding: 0;
  }
}

.after-arrow {
  @apply after:absolute
  after:right-3
  after:h-0
  after:w-0
  after:border-l-8
  after:border-r-8
  after:border-t-8
  after:border-solid
  after:border-slate-300
  after:border-l-transparent
  after:border-r-transparent

  after:dark:border-l-8
  after:dark:border-r-8
  after:dark:border-t-8
  after:dark:border-solid
  after:dark:border-slate-300
  after:dark:border-l-transparent
  after:dark:border-r-transparent;
}

.avatarOnline {
  @apply after:absolute
  after:right-0
  after:bottom-0
  after:h-2
  after:w-2
  after:rounded-full
  after:bg-[#05f711]
}

.avatarOffline {
  @apply after:absolute
  after:right-0
  after:bottom-0
  after:h-2
  after:w-2
  after:rounded-full
  after:bg-[#f3e113]
}

.EmojiPickerReact {
  @apply dark:bg-[#303d5d];
}
.EmojiPickerReact .epr-body .epr-emoji-category-label {
  @apply dark:bg-[#4c5a7c]
  dark:bg-opacity-90;
}
.react-select-container .react-select__control {
  @apply
  bg-white
  dark:bg-[#1f273a]
  dark:border-[#1f273a]
}

.react-select-container .react-select__placeholder {
  @apply
  dark:text-[#ddd]
  dark:opacity-70
}

.react-select-container .react-select__control--is-focused {
  @apply border-neutral-500 hover:border-neutral-500 dark:border-neutral-400 dark:hover:border-neutral-400 shadow-none;
}

.react-select-container .react-select__menu {
  @apply dark:bg-[#1b253b]  dark:border-[#1b253b];
}

.react-select-container .react-select__menu-list {
  @apply max-h-56;
}

.react-select-container .react-select__option {
  @apply dark:text-neutral-200 dark:bg-[#1b253b] dark:hover:bg-[#2b364e];
}

.react-select-container .react-select__single-value {
  @apply text-neutral-600 dark:text-neutral-200;
}

/* scroll anchor in ticket detail */
.scroll-anchor-none {
  overflow-anchor: none
}

.scroll-anchor-auto {
  overflow-anchor: auto
}
